*{
    margin: 0;
    box-sizing: border-box;
}
body{
 background-color: rgb(2112, 228, 238);   
}
.container{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  20px;
    margin-bottom: 40px;
}
.login-box{
    background-color: rgb(236, 243, 243);
    width: 410px;
    height: 360px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

label{
    height: 40px;
    margin-left: 8px;
    margin-right: 100px;
    margin-bottom: 30px;
}
input{
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
}
#name,#email{
    margin-left: 24px;
}
#dob{
    margin-left: -24px;
}
#check{
    margin-left: 2px;

}
#acceptTerms{
    width: 15px;
    margin-left: 8px;
}
button{
    margin-left: 8px;
    background-color: rgb(81, 81, 243);
    color: white;
}
#tab1{
    position: relative;
    background-color: rgb(256, 256, 256);
    padding: 10px 6px 8px 6px;
    margin-top: 5px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-width: 1px;
    border-color: rgba(152, 152, 152, 0.2);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
#tab2{
    margin: auto;
}
#tab3{
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
}
#user-entries{
    border-top-width: 1px;
    border-top-style: solid;
    border-color: rgba(156, 163, 175, 0.5);
}
td{
    border-width: 0 1px 1px 0;
    /* border-left-width: 0px; */
    border-style: solid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-color: brown;
}
th{
    padding-left: 1rem;
    padding-right: 1rem;
    
}
