* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 236, 246);
}

.container {
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 25px;
}

.login-box {
    background-color: rgb(241, 245, 245);
    width: 420px;
    height: 360px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 20px 40px -8px rgba(0, 0, 0, 0.3);
}

label {
    height: 30px;
    margin-left: 10px;
    margin-right: 90px;
    margin-bottom: 20px;
}

input {
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
}

#name,
#email {
    margin-left: 28px;
}

#dob {
    margin-left: -28px;
}

#check {
    margin-left: 3px;
}

#acceptTerms {
    width: 15px;
    margin-left: 10px;
}

button {
    margin-left: 10px;
    background-color: rgb(52, 94, 228);
    color: white;
}

#tab1 {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 12px 8px 10px 8px;
    margin-top: 8px;
    box-shadow: 0 30px 60px -16px rgba(0, 0, 0, 0.4);
    border-width: 1px;
    border-color: rgba(120, 120, 120, 0.2);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#tab2 {
    margin: auto;
}

#tab3 {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
}

#user-entries {
    border-top-width: 2px;
    border-top-style: solid;
    border-color: rgba(165, 173, 185, 0.6);
}

td {
    border-width: 0 1px 1px 0;
    border-style: solid;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-color: #8B4513;
}

th {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
